
:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --subtitle-color: #000028;
  --button-color-hover: rgba(255, 0, 112, 0.4);
  --title-color: #DB00FF;
  --decor-angles-color: #FF0070;
  --content-title-color: #FF0070;
  --button-color: rgb(255, 0, 112);
}