
:root.theme-light {
  --text-color: #353430;
  --bg-image: url(../images/cover-image-light.png);
  --bg-color: #FFF1F7;
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --subtitle-color: #353430;
  --decor-angles-color: #353430;
  --content-title-color: #353430;
  --button-color: #353430;
  --button-color-hover: rgba(50, 49, 45, 0.4);
}

.theme-light .header__decor-rec {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #353430;
    --bg-image: url(../images/cover-image-light.png);
    --bg-color: #FFF1F7;
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --subtitle-color: #353430;
    --decor-angles-color: #353430;
    --content-title-color: #353430;
    --button-color: #353430;
    --button-color-hover: rgba(50, 49, 45, 0.4);
  }

  .theme-auto .header__decor-rec {
  display: none;
  }
}