

.page {
  background-color: var(--bg-color), #000028;
  background-image: var(--bg-image), url(../images/cover-image-dark.png);
  background-attachment: fixed;
  background-position: center; 
  background-size: cover; 
  font-family: var(--font-family);
  font-size: var(--text-size);
  line-height: var(--line-height);
  color: var(--text-color);
}


/*.page
{
  
  display: flex;
  flex-flow: column nowrap;
  gap: var(--section-gap);
  
  line-height: var(--line-height);
  
  
  block-size: 100vh;
  background-image: var(--cover-banner);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}*/
.header {
  block-size: 100vh;
  min-block-size: 668px;
  margin: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;

}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--accent-color);
  background-color: transparent;
  text-transform: lowercase;
  line-height: 100%;
  min-inline-size: 70px;
  min-block-size: 26px;
  border: 1px solid yellow;
 
}
/*
.header__theme-menu-list {
  display: grid;
  width: 70px;
  height: 98px;
  justify-content: center;
  gap: var(--indent, 10px);
}

.header__theme-menu-button {
  color: var(--accent-color, rgba(255, 0, 112, 1));
  text-transform: lowercase;
  border: 1px solid transparent;
  min-inline-size: 70px;
  min-block-size: 26px;
}*/

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color);
  line-height: 82.5%;
}
.header__title_description {
  font-weight: var(--font-bold);
  color: var(--subtitle-color);
  block-size: fit-content;
  align-self: center;
}

.title-decor { 
  background-color: var(--accent-color);

}

.header__rec {
  color: var(--accent-color);
  text-transform: uppercase;
  position: absolute;
  right: 28px;
  line-height: 25px;
  
  /*display: none;*/
}
/*
.theme_dark .header__rec {
  display: inline-block;
}*/


.header__rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 8px;
  right: -17px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.decor-angles::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decor-angles::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 24px;
  height: 24px;
  border-left: 1px solid var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
}


/*
 .header {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: clamp(668px, calc(444.8px + 60.27vw), 1024px);
  max-height: clamp(668px, 90dvh, 1024px);
  display: grid;
  grid-column: 1;
  grid-template-rows: 1fr min-content 1fr;
  row-gap: 0;
  position: relative;
}

.header__rec {
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
  
}

.theme_dark .header__rec {
  display: inline-block;
}

.header__rec::before {
  content: "";
  top: 18px;
  
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
}