
.page {
  background-color: var(--bg-color), #000028;
  background-image: var(--bg-image), url(../images/cover-image-dark.png);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
  font-family: var(--font-family), 'IBM Plex mono', sans-serif;
  font-size: var(--text-size), 18px;
  line-height: var(--line-height), 23.4px;
  font-weight: var(--font-normal), 400;
  color: var(--text-color), #F1B2CE;
}

.header {
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr minmax(min-content, max-content) 1fr;
}

.header__theme-menu {
  align-self: center;
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.header__theme-menu-button {
  color: var(--button-color), rgb(255, 0, 112);
  background-color: transparent;
  text-transform: lowercase;
  line-height: 100%;
  padding: 1px 12px 4px;
  border: unset;
  display: block;
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
  outline: none;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--button-color-hover), rgba(255, 0, 112, 0.4);
}
.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color), #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color), #FF0070;
  line-height: 82.5%;
}

.header__title-description {
  font-weight: var(--font-bold), 700;
  color: var(--subtitle-color), #000028;
  block-size: fit-content;
  align-self: center;
}

.title-decor {
  background-color: var(--accent-color), #FF0070;
}

.header__decor-rec {
  color: var(--accent-color), #FF0070;
  text-transform: uppercase;
  position: absolute;
  margin: 10px;
  right: 28px;
  top: 0;
  line-height: 25px;
}

.header__decor-rec::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 8px;
  right: -19px;
  background-color: var(--accent-color), #FF0070;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color), #FF0070;
}

.decor-angles::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--decor-angles-color), #FF0070;
  border-right: 1px solid var(--decor-angles-color), #FF0070;
  margin: 10px;
}

.decor-angles::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--decor-angles-color), #FF0070;
  border-bottom: 1px solid var(--decor-angles-color), #FF0070;
  margin: 10px;
}

.content {
  display: grid;
  gap: 50px;
  padding: 0 10px;
}

.content__section-title {
  color: var(--content-title-color), #FF0070;
  font-weight: var(--font-bold), 700;
  font-size: inherit;
  margin-block-end: 20px;
}

.content__section-subtitle,
.content__section-subsubtitle {
  font-weight: var(--font-bold), 700;
  font-size: inherit;
  color: var(--subtitle-color), #000028;
  margin-block-end: 10px;
}

.content__section-subsubtitle:first-of-type {
  margin-block-start: 20px;
}

.content__section-subsubtitle {
  font-weight: var(--font-normal), 400;
}

.link {
  text-shadow: 1.5px 1.5px 0 var(--accent-color), #FF0070;
}

.link:hover {
  border-bottom: 1px solid currentColor;
}

.link:focus-visible {
  border: 1px solid currentColor;
}
.content__section-text:not(:last-of-type) {
  margin-block-end: 20px;
}

.gallery {
  display: grid;
  gap: 10px;
}

.image {
  width: 100%;
  height: 100%;
}

.footer {
  block-size: 100vh;
  min-block-size: 668px;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__slogan {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--title-color), #DB00FF;
  text-shadow: 4px 4px 0 var(--accent-color), #FF0070;
  line-height: 82.5%;
  font-weight: var(--font-bold), 700;
}

@media (width >= 768px) {

  .page {
    gap: 60px;
  }

  .header {
    min-block-size: 1024px;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }

  .header__theme-menu {
    grid-column: 2 / 3;
  }

  .header__title {
    grid-column: span 2;
    position: relative;
    left: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }

  .header__title-description {
    grid-column: 2 / 3;
  }

  .header__decor-rec {
    margin: 20px;
  }

  .decor-angles::before,
  .decor-angles::after {
    margin: 20px;
  }

  .content {
    padding: 0 20px;
    gap: 80px;
  }

  .content__section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 23px;
  }

  .content__section-text-block {
    padding-inline-start: 5px;
  }

  .what-section {
    gap: 20px;
  }

  .why-section .content__section-title {
    grid-column: 1 / 2;
    grid-row: 1 / 1;
  }

  .why-section .content__section-text-block {
    grid-column: 2 / 4;
    grid-row: 1 / auto;
  } 

  .what-section .content__section-title {
    grid-column: 1 / 2;
    margin-block-end: 0;
  }

  .what-section .content__section-text-block {
    grid-row: 2 / auto;
    grid-column: 1 / span 3;
  }
  
  .how-to-section .content__section-title {
    grid-column: 1 / 2; 
  }
  
  .how-to-section .content__section-text-block {
    grid-row: 1 / auto;
    grid-column: 2 / 4;
  } 

  .content__gallery-section .content__section-subtitle {
    margin-block-end: 0;
  }
  
  .gallery {
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  .sunset {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  .ice-cream {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
  }

  .tape {
    grid-row: 3 / 6;
    grid-column: 1 / 2;
  }

  .books {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
  }

  .street {
    grid-row: 4 / 6;
    grid-column: 2 / 4;
  }

  .footer__slogan {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}


@media (width >= 1024px) {

  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    align-self: start;
    justify-self: center;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 12px;
  }

  .what-section .content__section-text-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: min-content 1fr;
    grid-auto-flow: column;
    column-gap: 20px;
  }

  .content__section-text-block {
  padding-inline-start: 0;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
  
  .footer__slogan {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}  