
:root {
  --font-family: 'IBM Plex mono', sans-serif;
  --text-size: 18px;
  --font-bold: 700;
  --line-height: 23.4px;
  --font-normal: 400;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --subtitle-color: #000028;
  --decor-angles-color: #FF0070;
  --content-title-color: #FF0070;
  --button-color: rgb(255, 0, 112);
  --button-color-hover: rgba(255, 0, 112, 0.4);
}

