/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {


  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --text-color: #F1B2CE;
  --font-family: 'IBM Plex mono', sans-serif;
  --text-size: 18px;
  --subtitle-color: #000028;
  --font-bold: 700;
  --line-height: 23.4px;
}

